uploadCode.sh
**~
node/node_modules
env
db/aria_log_control
db/ddl_recovery-backup.log
db/ib_buffer_pool
db/ibdata1
db/ib_logfile0
db/mariadb_upgrade_info
db/multi-master.info
db/mysql
db/performance_schema
db/sys
db/undo001
db/undo002
db/undo003
db/ddl_recovery.log
db/ibtmp1
db/tc.log
db/aria_log.00000001
PAT